@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;

    background:var(--background);

    color:var(--text);

    overflow-x:hidden;
}

section{

    padding:100px 0;
}

.section-title{

    text-align:center;

    font-size:2.4rem;

    font-weight:700;

    margin-bottom:70px;
}